<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>supprission de la demande</title>
</head>
<body>
    <%=data%> 
    <form action="/demande/edit/<%= data.id %>?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        Demande: <input type="text" name="demande"  value="<%= data.demande %>">
        Demandeur: <input type="text" name="demandeur"  value="<%= data.demandeur %>">
       Service: <input type="text" name="service"  value="<%= data.email %>">
        Zone: <input type="text" name="zone"  value="<%= data.zone %>">
       Desription: <textarea name="description" id="" cols="30" rows="10"  value="<%= data.description %>"></textarea>
        <input type="submit" value="Update data">
    </form>

    <form action="/demande/delete/<%= data.id %>?_method=DELETE" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="supprimer" >
</form>
</body>
</body>
</html>